@font-face {
  font-family: "chillax-regular";
  src: url("../fonts/chillax/Chillax-Regular.otf");
}
@font-face {
  font-family: "satoshi-regular";
  src: url("../fonts/satoshi/Satoshi-Regular.otf");
}

:root {
  --primary-color: #cebd63; /* Global variable */
  --radius: 1rem;
  --font-size-base: 16px;
  --background: #121212;
  --foreground: #1e1e1e;
  --dark: #232323;
  --muted: #a9a9a9;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "chillax-regular";
  color: white;
  font-size: clamp(14px, 1.5vw, 18px);
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: "chillax-regular", sans-serif;
  h1 {
    font-family: "chillax-regular", sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    text-align: start;
    // line-height: rem;
  }
  h2 {
    font-family: "chillax-regular", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: start;
  }
  h3 {
    font-family: "chillax-regular", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-align: start;
  }
  h4 {
    font-family: "chillax-regular", sans-serif;
    font-weight: 400;
    // font-size: 2.2rem;
    font-size: clamp(36px, 7vw, 64px);
    text-align: start;
  }

  p {
    width: 100%;
    font-family: "satoshi-regular", sans-serif;
    font-size: 1.3rem;
    text-align: start;
    color: #858481;
  }
  a {
    font-family: "chillax-regular", sans-serif;
    text-decoration: none;
    color: var(--muted);
  }

  button {
    width: 100%;
    background: var(--background);
    border-radius: var(--radius);
    padding: 1rem 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .primary-button {
    background-color: var(--primary-color);
    color: var(--dark);
  }
  li {
    list-style: none;
    color: white;
  }
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin blur() {
  backdrop-filter: blur(4px);
  border: 1px solid grey;
  border-radius: var(--radius);
}

// section {
//   max-width: 1200px;
// }

span {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  @include blur();
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  color: white;
  // border: 1px solid white;
  border-radius: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 50rem;
}

.redirect {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
  justify-content: space-between;
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  section.nav-section {
    justify-content: end;
    gap: 0.5rem;

    button {
      padding: 1rem 1.3rem;
      background: var(--dark);
    }
  }
  section.nav-section > :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;

    div {
      background: var(--primary-color);
      padding: 0.3rem;
      color: var(--background);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 50rem;
    }
  }
  section.nav-section > :nth-child(2) {
    background: var(--primary-color);
    color: var(--dark);
    height: 100%;
    display: none;
  }

  section.nav-section > :last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;
    font-size: 1.5rem;
  }
}

main {
  width: 100%;
  @include flex-column(1rem);
  align-items: center;

  section {
    width: 100%;
    @include flex-column(1.4rem);
    padding: 0 1rem;

    .top {
      padding: 0;
      img {
        object-fit: cover;
        border-radius: var(--radius);
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      border-radius: var(--radius);
      // gap: 8.5rem;
      gap: 5rem;
      background: var(--foreground);
      // padding: 3rem;
      padding: 2rem;

      .content {
        display: flex;
        flex-direction: column;
        // gap: 1.6rem;
        gap: 1rem;
        padding: 0;

        // h2 {
        //   max-width: 37.5rem;
        // }

        .paragraph-content {
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
        }
      }
    }
  }

  section.hero {
    .bottom {
      .content {
        max-width: 37.5rem;
        p {
          font-size: 1.45rem;
        }
      }
    }
  }

  section.social-links {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }

  section.values {
    .values-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
      padding: 2rem;

      .grid-section {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        justify-content: center;
        align-items: center;

        .title {
          font-weight: 200;
          font-size: 1rem;
          color: var(--muted);
        }
      }
    }
  }

  section.sec5 {
    gap: 0rem;
    .top {
      width: 100%;
      padding: 2rem 2rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .redirect {
        display: none;
      }
    }
    .bottom {
      background: transparent;
      width: 100%;
      display: grid;
      padding: 0;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1rem;

      .team-card {
        width: 100%;
        position: relative;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        border-radius: 1.3rem;
        justify-content: space-between;

        img {
          position: absolute;
          width: 100%;
          z-index: 2;
          border-radius: var(--radius);
        }
        .card-top {
          width: 100%;
          z-index: 3;
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          padding: 1.5rem 1rem;
        }

        .card-bottom {
          width: 100%;
          z-index: 3;
          display: flex;
          flex-direction: row;
          padding: 1rem;

          .card-footer {
            width: 100%;
            z-index: 4;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 2rem;
            @include blur();
          }
        }
      }
    }
  }

  section.sec6 {
    .bottom > :first-child {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  }

  section.contact {
    .bottom {
      background: var(--primary-color);
      color: var(--dark);
      gap: 0.3rem;
    }
  }

  footer {
    width: 100%;
    padding: 0 1rem;
    display: grid;
    padding-bottom: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    .footer-bottom {
      width: 100%;
      @include flex-column();
      align-items: start;
      justify-content: start;
      border-radius: var(--radius);

      // gap: 8.5rem;
      gap: 5rem;
      background: var(--foreground);
      // padding: 3rem;
      padding: 2rem;
      .content {
        display: flex;
        flex-direction: column;
        // gap: 1.6rem;
        gap: 1rem;
        padding: 0;

        .paragraph-content {
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
        }
      }
    }

    .footer-1 {
      .social-links {
        padding: 0;
      }
    }
    .footer-2 {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(0, 0.25fr), minmax(0, 1fr);

      gap: 2rem;
      ul {
        width: 100%;
        @include flex-column(1.5rem);
      }
    }
    .footer-3 {
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: var(--muted);

      a {
        color: white;
        // text-decoration: underline;
      }
    }
  }
}

// 480px
@media (min-width: 30rem) {
  body {
    h1 {
      font-weight: 400;
      font-size: 2.6rem;
    }
    h2 {
      font-size: 2.7rem;
      font-weight: 400;
    }
    h3 {
      font-weight: 300;
      font-size: 1.3rem;
    }
    h4 {
      font-weight: 400;

      font-size: clamp(36px, 7vw, 64px);
    }
  }
  nav {
    section.nav-section > :nth-child(2) {
      display: flex;
    }
  }
}
// 640px
@media (min-width: 40rem) {
}

// 768px
@media (min-width: 48rem) {
  body {
    h1 {
      font-weight: 400;
      font-size: 4.2rem;
    }
    h2 {
      font-size: 2.7rem;
      font-weight: 400;
    }
    h3 {
      font-weight: 300;
      font-size: 1.3rem;
    }
    h4 {
      font-weight: 400;
      font-size: clamp(36px, 7vw, 64px);
    }
  }
  nav {
    section.nav-section > :nth-child(2) {
      display: flex;
    }
  }

  main {
    section.hero {
      .bottom {
        p {
          font-size: 1.5rem;
        }
      }
    }

    section {
      .bottom {
        .content {
          .paragraph-content {
            width: 100%;
            flex-direction: row;
          }
        }
      }
    }

    section.sec5 {
      .top {
        // border: 2px solid red;
        .redirect {
          display: flex;
        }
      }
      .bottom {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
      }
    }
    footer {
      .footer-2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      .footer-3 {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

// 992px
@media (min-width: 62rem) {
  body {
    h1 {
      font-weight: 400;
      font-size: 2.8rem;
    }
    h2 {
      font-size: 2.7rem;
      font-weight: 400;
    }
    h3 {
      font-weight: 300;
      font-size: 1.3rem;
    }
    h4 {
      font-weight: 400;
      font-size: clamp(36px, 7vw, 64px);
    }
  }
  main {
    section {
      flex-direction: row;
      gap: 0.8rem;
      width: 100%;
      padding: 0 1rem;
      .top {
        width: 100%;
        
        padding: 0;
        border-radius: var(--radius);

        img {
          width: 100%;
          border-radius: var(--radius);
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        border-radius: var(--radius);
        // gap: 8.5rem;
        gap: 5rem;
        background: var(--foreground);
        // padding: 3rem;
        padding: 2rem;
        justify-content: space-between;

        .content {
          display: flex;
          flex-direction: column;
          // gap: 1.6rem;
          gap: 1rem;
          padding: 0;

          // h2 {
          //   max-width: 37.5rem;
          // }

          .paragraph-content {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 1.4rem;
          }
        }
      }
    }

    section.hero {
      .bottom {
        .content {
          display: flex;
          flex-direction: column;
          // gap: 1.6rem;
          gap: 1rem;
          padding: 0;

          // h2 {
          //   max-width: 37.5rem;
          // }

          .paragraph-content {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 1.4rem;
          }
        }
      }
    }
    section.values {
      .values-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));

        .grid-section {
          gap: 0rem;
          .title {
            font-weight: 200;
            font-size: 1rem;
            color: var(--muted);
          }
        }
      }
    }

    section.sec3 {
      flex-direction: row-reverse;
    }

    section.sec5 {
      flex-direction: column;
     
      .bottom {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
      }
    }

    footer {
      
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(4, minmax(0, 1fr));
      grid-auto-columns: auto;

      .footer-1 {
        grid-column: span 1 / span 1;
        grid-row: span 4 / span 4;
        justify-content: space-between;
      }
      .footer-2 {
        grid-column: span 3 / span 3;
        grid-row: span 3 / span 3;
      }
      .footer-3 {
        grid-column: span 3 / span 3;
        grid-row: span 1 / span 1;
      }
    }
  }
}
// 1024px
@media (min-width: 64rem) {
}

// 1280px
@media (min-width: 80rem) {
}

// 1536px
@media (min-width: 96rem) {
}
